.rechercher{
    margin: 10px;
    display: inline;
    width: auto;

}

.settingcontent
{
    float: left;
    margin: 15px;
    
}

.stteingdelete
{

    display: inline-block;
    color: red;
    margin-top: 30px;

}

.HRV{
    width: 3px;
    background-color: black;
    height: 200px;
    margin: 15px;

}


.addproduitcontent
{
    float: left;
    margin: 30px;

    
}

#information
{
    text-align: right;
}


.addproduit
{

    display: inline-block;
    margin-top: 30px;

}

.produit{
    border: solid black 1px;
    margin: 20px;
    padding: 30px;
    position: relative;
    height: auto ;
}

.image{

    margin-left: 10px;
    margin-right: 50px;
    float: left;
}

.titre{
    display : inline-block;
    color: rgb(77, 168, 195);
    margin : 10px;
}


.detailproduit
{
    
    height: 250px;
}

.innerproduit
{
    margin-left: 250px;
    margin-right: 200px;
}

.descriptionproduit
{
    border: solid 1px;
    height: 75px;

}

.produitprix
{
    margin: 30px;
    float: right;

}



.avis
{
    border: solid 1px;

}

.contentavis
{
    border: solid 1px;
    margin: 20px;
    padding: 30px;
    
}

.colorblue
{
    color: rgb(77, 168, 195);
}

.colorpurplue
{
    color: purple;
}

.placeavis
{
    float: left;
    height: 100%;
    width: 100%;
}


.placenote
{
    
    float: left;
    margin-left: 40px;
    

}
.placeavis
{
    float: left;
    margin-top: 20px;
    width: 70%;
}

.para{
    display: inline-block;
    margin-right:30px;
}

.boutonplus{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.retirerpanier{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.panier{
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
}

.commander{
    float:right;
    margin-top: 5px;
    margin-right: 15px;
}

.prixtotal{
    float:right;
    margin : 10px;
}


.ajoutpanier{
    position: absolute;
    right: 10px;
    bottom: 10px;
    
}

